.trad-list { padding-left: 0; list-style:none; 
    li {margin:35px 0; font-size:17px; line-height: 1.6em; 
        h3 {
            a {font-weight: normal; font-size:21px;}
        }
        a{font-size:19px;}
        ol,ul {list-style: disc; margin-left: 15px; 
            li {margin:10px 0 10px 20px; 
            }
        }
    }
}
    
.required { color: #888; font-size: 90%;
    &.invalid {color:red;
        strong {white-space: nowrap;}
    }
}