.mdot-developers { margin-top: 1em;

                 .container {margin-top:15px; border-top: grey solid 1px; margin-bottom:15px; border-bottom: grey solid 1px;}
                 
            }
            
.required { color: #888; font-size: 90%;
    &.invalid {color:red;
        strong {white-space: nowrap;}
    }
}