{% extends "mdot/base.html" %}
{% load staticfiles %}

{% block app_css_mobile %}
<link rel="stylesheet" href="{% static "mdotdevs/css/mobile.less" %}" type="text/less">
{% endblock %}

{% block app_css_tablet %}
<link rel="stylesheet" href="{% static "mdotdevs/css/mobile.less" %}" type="text/less">
<link rel="stylesheet" href="{% static "mdotdevs/css/tablet.less" %}" type="text/less">
{% endblock %}

{% block app_css_desktop %}
<link rel="stylesheet" href="{% static "mdotdevs/css/mobile.less" %}" type="text/less">
<link rel="stylesheet" href="{% static "mdotdevs/css/tablet.less" %}" type="text/less">
<link rel="stylesheet" href="{% static "mdotdevs/css/desktop.less" %}" type="text/less">
{% endblock %}

{% block content %}{% endblock %}

{% block subcontent %}
<div class="mdot-sub-content" >

    <div class="container">
        
        <!-- Example row of columns -->
        <div class="row" >
        	    
            <div class="col-md-8 mdot-resource-group" role="complementary" aria-labelledby="publish_header">
                <h2 id="publish_header">Publishing native apps at the UW</h2>
                <p class="text-muted">If your native app is intended for broad UW use, consider publication in the UW Developer App Store.</p>
                <ul>    
                    <li><a href="/developers/guidelines">Guidelines</a></li>
                    <li><a href="/developers/process" class="mdot-resource-link">Process Overview</a></li>
                    <li><a href="/developers/review" class="mdot-resource-link">Submit your application</a></li>
                </ul>
            </div>
            <div class="col-md-4 mdot-resource-group" role="complementary" aria-labelledby="help_header">
              <h2 id="help_header">Get Help</h2>
                <ul>    
                    <li><a href="/developers">Building a mobile app (link)</a></li>
                    <li><a href="mailto:help@uw.edu">Publishing your app</a></li>
                    <li><a href="mailto:help@uw.edu">Creating app store</a></li>
                    <li><a href="mailto:ux@uw.edu">User Experience/Usability consultation</a></li>
                    <li><a href="mailto:help@uw.edu">Accessibility consultation (Accessible Technology Services)</a></li>
                    <li><a href="http://www.washington.edu/brand/">UW Brand Guidelines (link)</a></li> 
                </ul>            
            </div>            
        </div>
        
        
    </div>
</div>
        
{% endblock %}

