{% extends "mdot/base.html" %}

{% block content %}{% endblock %}

{% block subcontent %}
<div class="mdot-sub-content">

    <div class="container">
        
        <!-- Example row of columns -->
        <div class="row">
    	      
    	    <h2 class="sr-only">kasjdfl</h3>
        	    
            <div class="col-md-8 mdot-resource-group">
                <h3>Publishing your native apps at the UW</h3>
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam odio eros, vestibulum eu ante eget, dictum vestibulum massa. Nunc lacus purus, vehicula nec mi ornare, pretium congue nisl. Nullam odio eros, vestibulum eu ante eget, dictum vestibulum massa.</p>
                <ul>    
                    <li><a href="" class="mdot-resource-link">Strategy</a></li>
                    <li><a href="" class="mdot-resource-link">Guidelines</a></li>
                    <li><a href="" class="mdot-resource-link">Process Overview</a></li>
                    <li><a href="" class="mdot-resource-link">Submit your application</a></li>
                </ul>
            </div>
            <div class="col-md-4 mdot-resource-group">
              <h3>Get Help</h3>
                 <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc lacus purus, vehicula nec mi ornare, pretium congue nisl. </p>
                <ul>    
                    <li>Publishing your app: help@uw.edu</li>
                    <li>Creating app store: help@uw.edu</li>
                    <li>User Experience/Usability consultation: ux@uw.edu</li>
                    <li>Accessibility consultation: Accessible Technology Services, help@uw.edu</li>
                    <li>UW Brand Guidelines: http://www.washington.edu/brand/</li> 
                </ul>            
            </div>            
        </div>
        
        
    </div>
</div>
        
{% endblock %}

