{% extends "mdotdevs/base.html" %}

{% block title %}Building Apps Home{% endblock %}

{% block content %}

<div class="mdot-developers">
    
    <div class="container" style="margin-bottom:2em;">
        
        <h2>Publishing Native Apps at UW</h2>
        
        <h3>Guidelines</h3>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque porttitor leo in lorem ultricies luctus. Mauris id lorem pretium, varius ligula sit amet, bibendum nisi. Donec eu mauris vestibulum nulla placerat hendrerit sit amet ac risus. Morbi aliquet sagittis lorem, eget convallis risus vulputate id. In dignissim, urna egestas placerat imperdiet, arcu ex vehicula purus, eu ultrices quam risus quis nibh. In sed vestibulum ex, a gravida leo. Aenean venenatis mauris a tellus suscipit finibus. Quisque auctor commodo pretium. Nunc eu tellus magna. Suspendisse pellentesque ligula at magna molestie facilisis. Nulla vel purus ac mi condimentum elementum finibus in purus. Nam tristique porta nibh, sit amet facilisis justo sollicitudin in. Sed eget tempus risus. Proin luctus lectus a lorem commodo, ut rutrum erat posuere. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

        <p>Etiam posuere dolor et metus egestas, in euismod ante blandit. Donec et velit turpis. Vivamus sed turpis convallis, sollicitudin lorem ut, ornare libero. Nullam lacinia mauris non placerat molestie. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vestibulum volutpat lectus id urna feugiat euismod. Curabitur diam nunc, pulvinar ut tincidunt nec, lobortis in arcu. Suspendisse viverra augue sed elit iaculis, at auctor magna vulputate. Nulla dictum erat ac arcu sagittis, vitae consequat turpis tempor. Vivamus elementum at nisi et congue. Aliquam finibus nisl eget lacus finibus interdum. Suspendisse lacus arcu, imperdiet id nibh a, ornare sodales massa. Nam viverra mauris nec pulvinar maximus. Maecenas quis porttitor sapien, ac placerat orci.</p>
             
    </div>
</div>

{% endblock %}