{% extends "mdotdevs/base.html" %}

{% block title %}Building Apps Home{% endblock %}

{% block content %}

<div class="mdot-developers">
    
    <div class="container" style="margin-bottom:2em;">
        
        <h2 >Building mobile apps at UW</h2>
        
        <h3>Things to consider</h3>
        
        <div class="row"> 
                                  
            <div class="col-md-4">
                <h4>Mobile web vs. Native vs. Hybrid</h4><p class="text-muted">Before determining what to build, you need to understand your options. Mobile web is the most versatile and easiest to maintain, but can be limiting if you need robust device integration. </p>
                <ul>
                    <li><a href="http://blog.socious.com/the-best-mobile-online-community-options-responsive-web-design-vs-mobile-sites-vs-native-apps">Mobile web vs. Native</a></li>
                    <li><a href="https://signalvnoise.com/posts/3743-hybrid-sweet-spot-native-navigation-web-content">Hybrid Approach</a></li>
                    <li><a href="https://developer.salesforce.com/page/Native,_HTML5,_or_Hybrid:_Understanding_Your_Mobile_Application_Development_Options">Comparison of the 3 options</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Buy vs. Build</h4><p class="text-muted">Know what other products might solve the problems that you are trying to solve. It might be worth trying out a low-cost third-party app, evaluating it to deeper understand where gaps exist.</p>
                <ul>
                    <li>Developer resource</li>
                    <li>Developer resource</li>
                    <li>Developer resource</li>
                </ul>
            </div>
            <div class="col-md-4">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam odio eros, vestibulum eu ante eget, dictum vestibulum massa. Nunc lacus purus, vehicula nec mi ornare, pretium congue nisl. Nullam odio eros, vestibulum eu ante eget, dictum vestibulum massa.</p>
                <ul>
                    <li>Developer resource</li>
                    <li>Developer resource</li>
                    <li>Developer resource</li>
                </ul>
            </div>
         
        </div>
        
        <h3>Creating a successful product</h3>
        
        <div class="row"> 
                                  
            <div class="col-md-4">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam odio eros, vestibulum eu ante eget, dictum vestibulum massa. Nunc lacus purus, vehicula nec mi ornare, pretium congue nisl. Nullam odio eros, vestibulum eu ante eget, dictum vestibulum massa.</p>
                <ul>
                    <li>Developer resource</li>
                    <li>Developer resource</li>
                    <li>Developer resource</li>
                </ul>
            </div>
            <div class="col-md-4">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam odio eros, vestibulum eu ante eget, dictum vestibulum massa. Nunc lacus purus, vehicula nec mi ornare, pretium congue nisl. Nullam odio eros, vestibulum eu ante eget, dictum vestibulum massa.</p>
                <ul>
                    <li>Developer resource</li>
                    <li>Developer resource</li>
                    <li>Developer resource</li>
                </ul>
            </div>
            <div class="col-md-4">
                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam odio eros, vestibulum eu ante eget, dictum vestibulum massa. Nunc lacus purus, vehicula nec mi ornare, pretium congue nisl. Nullam odio eros, vestibulum eu ante eget, dictum vestibulum massa.</p>
                <ul>
                    <li>Developer resource</li>
                    <li>Developer resource</li>
                    <li>Developer resource</li>
                </ul>
            </div>
         
        </div>
             
    </div>
</div>

{% endblock %}