{% extends "mdotdevs/base.html" %}

{% block title %}Building Apps Home{% endblock %}

{% block content %}

<div class="mdot-developers">
    
    <div class="container" style="margin-bottom:2em;">
        
        <h2>UW Developer Store Publishing Process</h2>
        <p>So, you have developed a native app and want to publish it under the UW Developer Store? Here is what you do next. </p>
        <ol class="trad-list">
            <li><strong>Confirm that your app meets the <a href="/developers/guidelines">UW Developer Store Publishing Guidelines</a>.</strong> </li>
            <li><strong>Submit your application for <a href="/developers/review">UW-IT review.</a></strong>
                <ul>
                    <li>UW-IT will determine if publishing guidelines are met.</li>
                    <li>A UW-IT Usability review will be scheduled.</li>
                </ul>
            </li>
            <li><strong>Fix critical issues brought up in the UW-IT Usability Review.</strong></li>
            <li><strong>Alert UW-IT Mobile Team that your app is ready for final review.</strong>
                <ul>
                    <li>UW-IT conducts final app review.</li>
                </ul>
            </li>
            <li><strong>App submitted by UW-IT to the appropriate app stores.</strong></li>
            <li><strong>Publication, pending app store approval.</strong></li>
        </ol>
        
    </div>
</div>

{% endblock %}