{% extends "mdotdevs/base.html" %}

{% block title %}Building Apps Home{% endblock %}

{% block content %}

<div class="mdot-developers">
    
    <div class="container" >
        
        <h2 id="page_header">UW Developer Store Publishing Process</h2>
        <p>So, you have developed a native app and want to publish it under the UW Developer Store? Here is what you do next. </p>
        <ol class="trad-list process-page">
            <li><h3>1. Confirm that your app meets the <a href="/developers/guidelines">UW Developer Store Publishing Guidelines</a>.</h3> </li>
            <li><h3>2. Submit <a href="/developers/review">your application</a> for UW-IT review.</h3>
                <ul>
                    <li>UW-IT will determine if publishing guidelines are met.</li>
                    <li>A UW-IT Usability review will be scheduled.</li>
                </ul>
            </li>
            <li><h3>3. Fix critical issues brought up in the UW-IT Usability Review.</h3></li>
            <li><h3>4. Alert UW-IT Mobile Team that your app is ready for final review.</h3>
                <ul>
                    <li>UW-IT conducts final app review.</li>
                    <li>App submitted by UW-IT to the appropriate app stores.</li>
                    <li>Publication, pending app store approval.</li>
                </ul>
            </li>
            
        </ol>
        
    </div>
</div>

{% endblock %}