{% extends "mdotdevs/base.html" %}

{% block title %}Building Apps Home{% endblock %}

{% block content %}

<div class="mdot-developers">
    
    <div class="container" style="margin-bottom:2em;">
        
        <h2>UW Developer Store Publishing Process</h2>
        <p>So, you have developed a native app and want to publish it under the UW Developer Store? Here is what you do next. </p>
        <ol class="trad-list process-page">
            <li>Confirm that your app meets the <a href="/developers/guidelines">UW Developer Store Publishing Guidelines</a>. </li>
            <li><a href="/developers/review">Submit your application</a> for UW-IT review.
                <ul>
                    <li>UW-IT will determine if publishing guidelines are met.</li>
                    <li>A UW-IT Usability review will be scheduled.</li>
                </ul>
            </li>
            <li>Fix critical issues brought up in the UW-IT Usability Review.</li>
            <li>Alert UW-IT Mobile Team that your app is ready for final review.
                <ul>
                    <li>UW-IT conducts final app review.</li>
                    <li>App submitted by UW-IT to the appropriate app stores.</li>
                    <li>Publication, pending app store approval.</li>
                </ul>
            </li>
            
        </ol>
        
    </div>
</div>

{% endblock %}