{% extends "mdotdevs/base.html" %}

{% block title %}Building Apps Home{% endblock %}

{% block content %}

<div class="mdot-developers">
    
    <div class="container" style="margin-bottom:2em;">
        
        <h2>Submit your App for Review</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lobortis turpis vel interdum pharetra. Morbi laoreet dui ac elementum lobortis. Cras urna tortor, rhoncus sit amet maximus quis, pellentesque sed mi. Mauris molestie efficitur massa, sit amet vulputate nunc tempus at. Sed sit amet magna et libero bibendum commodo. Cras dolor tortor, euismod at nisi vel, semper egestas felis. Nunc vitae purus vitae enim rhoncus pellentesque. Cras feugiat nulla metus, non maximus sapien venenatis ullamcorper. Ut eget condimentum arcu.</p>

        <p>Duis semper magna id nisl egestas tempus. Donec tempus ligula quis ligula hendrerit, in egestas quam volutpat. Ut lorem nisi, tempor vitae vehicula sit amet, egestas ac ligula. Pellentesque feugiat ante vel eros pretium auctor. Sed non velit vel neque volutpat scelerisque. Integer mauris sapien, volutpat nec porta eleifend, ullamcorper ut eros. Aenean dictum commodo gravida. Maecenas maximus vehicula lorem hendrerit egestas. Cras a nulla consequat, rutrum orci non, dapibus justo. Curabitur tellus felis, vehicula quis tellus at, vehicula suscipit tortor. Vivamus dignissim semper magna, elementum faucibus turpis dictum eu. In pellentesque lectus magna, id dignissim arcu lobortis quis. Suspendisse vehicula tellus enim. Sed in sem tellus. Vivamus nisi ex, laoreet in velit in, viverra consectetur ipsum. Etiam ex felis, egestas non volutpat a, vehicula quis purus.</p>
        
{% endblock %}