{% extends "mdotdevs/base.html" %}

{% block title %}Building Apps Home{% endblock %}

{% block content %}

<div class="mdot-developers">
    
    <div class="container" style="margin-bottom:2em;">
        
        <h2>Submit your App for Review</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lobortis turpis vel interdum pharetra. Morbi laoreet dui ac elementum lobortis. </p>

        <form>
            <p><label for="campus_audience" >Please describe what UW audiences your application is targeting.</label><br/>
            <textarea id="campus_audience" name="campusaudience" style="width:35vw; height:100px;"></textarea></p>
            
            <p><label for="campus_need" >Please describe how your application addresses a broad UW campus need.</label><br/>
            <textarea id="campus_need" name="campusneed" style="width:35vw; height:100px;"></textarea></p>
            
            <p><fieldset>
                <legend> Who is the official UW Sponsor of this app?</legend>
                <label for="sponsor_name" >Name</label><br/>
                <input type="text" id="sponsor_name" name="sponsorname"></input><br/>
                <label for="sponsor_netid" >UW NetID</label><br/>
                <input type="text" id="sponsor_netid" name="sponsornetid"></input><br/>
                <label for="sponsor_email" >Email</label><br/>
                <input type="email" id="sponsor_email" name="sponsoremail"></input><br/>
            </fieldset></p>
            
            <p><fieldset>
                <legend> Who will maintain the app codebase?</legend>
                <label for="dev_name" >Name</label><br/>
                <input type="text" id="dev_name" name="devname"></input><br/>
                <label for="dev_email" >Email</label><br/>
                <input type="email" id="dev_email" name="devemail"></input><br/>
            </fieldset></p>
            
            <p><fieldset>
                <legend>Who do clients contact for support with your app?</legend>
                <label for="support_name" >Name</label><br/>
                <input type="text" id="support_name" name="supportname"></input><br/>
                <label for="support_email" >Email</label><br/>
                <input type="email" id="support_email" name="supportemail"></input><br/>
                <label for="support_contact" >Other contact information</label><br/>
                <textarea id="support_contact" name="supportcontact" style="width:35vw;"></textarea><br/>
            </fieldset></p>
            
            <p> <fieldset>
                <legend>What reviews have you conducted?</legend>
                <input type="checkbox" id="ats_review" name="atsreview"></input>
                <label for="ats_review" >Accessibility review with UW-IT Accessible Technology Services</label><br/>
                <br/>
                <input type="checkbox" id="ux_review" name="uxreview"></input>
                <label for="ux_review" >Usability review with ACA UX team</label><br/>
                <br/>
                <input type="checkbox" id="brand_review" name="brandreview"></input>
                <label for="brand_review" >Consulted UW Brand Guidelines</label><br/>
            </fieldset></p>
            
            <p><label for="app_documentation">Provide URL for app documentation</label><br/>
            <input type="url" id="app_documentation" name="appdocumentation" style="width:35vw;"></input></p>
            
            <p><label for="app_code">Provide URL for app codebase</label><br/>
            <input type="url" id="app_code" name="appcode" style="width:35vw;"></input></p>
            
            <p><label for="campus_need" >Anything else that we should know?</label><br/>
            <textarea id="campus_need" name="campusneed" style="width:35vw; height:100px;"></textarea></p>
            
            <p><input type="reset" name="reset" value="Cancel">  
            <input type="submit" name="submit" value="Submit App for Review"></p>
        
                      
        </form>
    </div>
</div>
{% endblock %}